@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans&family=Work+Sans&display=swap');
h1, h2, h3, h4, h5, h6 {
    font-family: Smooch Sans;
}

p {
    font-size: 20px;
}

body {
    margin: 0 auto;
}

header {
    padding: 10px;
    background-color: #EFEFEF;
    box-shadow: 5px 5px 5px #555;
    text-align: center;
}

.top {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    grid-gap: 20em;
}

.classLogo {
    
    grid-column: 1;

}

.title {
    grid-column: 2;
    font-size: 30px;
    text-align: center;
}

.church {
    grid-column: 3;
}

footer {
    padding: 1em;
    text-align: center;
    background-color: #EFEFEF;
}

main {
    padding: 1em;
    margin: 1em;
}

.lesson {
    margin: 0 auto;
    width: 500px;
    align-content: center;
}

.lesson img {
    align-self: center;
    justify-self: center;
    text-align: center;
    
}

main h1{
    text-align: center;
}

.resources {
    width: 500px;
    margin: 0 auto;
}

li {
    padding: 10px;
}

sup a{
    text-decoration: none;
    font-size: 13px;
}

.quote {
    font-style: italic;
}